.titleProject {
  font-family: Nunito;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects {
  border-top: 1px solid #cccccc;
  max-width: 800px;
  margin: 1.2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2rem;
  padding: 1rem;
}

.projectItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(235, 81, 81);
  border-radius: 5px;
  height: 110px;
  color: rgb(235, 81, 81);
  transition: ease-in-out 250ms all;
}

.projectItem {
  font-family: Nunito;
  color: rgb(235, 81, 81);
}

.projectItem:hover {
  background-color: rgb(235, 81, 81);
  color: #fff;
  box-shadow: 3px 3px 3px 2px rgba(235, 81, 81, 0.3);
}
