.projectPage {
  position: relative;
  top: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 800px;
}

.titleProject {
  color: var(--main-gray);
}

.projects {
  width: 100%;
  max-width: 900px;
  padding-top: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1em;
  border-top: 1px solid var(--main-gray);
}

.projectItem {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--main-red);
  height: 120px;
  transition: all 200ms ease-in;
}

.projectItem:hover {
  box-shadow: 2px 2px 5px var(--main-red);
}

.projects a {
  text-decoration: none;
  color: var(--main-red);
}

.tools {
  text-align: center;
}
