@import "../../App.scss";

.text {
  color: #ffffff;
  padding: 10px;

  h2 {
    font-size: 3rem;
    text-shadow: 0px 1px 2px #111111;
  }

  .dev-name {
    background-color: #fffc33;
    padding: 0 10px;
    box-shadow: 0px 1px 2px #111111;
    text-shadow: none;
    color: #111111cb;
  }

  p {
    font-size: 1.3rem;
    margin: 0;
    font-family: $body-font;
    text-shadow: 0px 1px 2px #111111;
    font-weight: 600;
  }

  .hero-project-link {
    text-decoration: none;
    color: #ffffff;
    border-bottom: 2px solid #fffc33;
  }
}
