.hero {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  z-index: 10000;
  background: linear-gradient(to top, var(--peach), transparent);
}

.hero:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  mix-blend-mode: color;
}

.heroImage {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  width: 100vw;
  height: 100vh;
}

.heroImage img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.hero h2 {
  position: absolute;
  margin: 0;
  font-size: 3em;
  font-family: var(--main-font);
  color: #fff;
  padding: 2rem;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.4);
}

@keyframes myMove {
  0% {
    transform: translateY(100%);
    transform: translate(-50%, 50%);
  }
  100% {
    transform: translateY(0);
    transform: translate(-50%, -50%);
  }
}

.hero .name {
  color: var(--main-red);
  text-shadow: 1px 1px 3px var(--main-red);
}
