@import "../../App.scss";

.icons-social {
  width: 100%;
  max-width: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

i {
  font-size: 2rem;
  color: #ffffff;
  transition: 150ms all ease-in-out;

  &:hover {
    color: #fffb26;
    cursor: pointer;
  }
}
