/*font-family: "Merriweather", serif;

font-family: "Nunito", sans-serif;

font-family: "Roboto Mono", monospace;
*/

.header {
  margin-bottom: 1rem;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

.title h1 {
  transition: 500ms all ease-in;
  margin: 1rem;
}

.title a {
  border: 5px solid rgb(233, 25, 25);
  padding: 0.5rem;
  font-family: "Merriweather", serif;
  color: rgb(233, 25, 25);
}

.title:hover {
  transform: rotate(-90deg);
}
.name:hover {
  transform: rotate(0deg);
}

.navDiv {
  width: 100%;
  max-width: 250px;
}

.navigation {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
}

.navigation a {
  color: #b10606;
  font-family: "Nunito", sans-serif;
  transition: all 300ms ease-in-out;
}

.navigation a:hover {
  color: rgb(233, 25, 25);
}
