/*font-family: "Merriweather", serif;

font-family: "Nunito", sans-serif;

font-family: "Roboto Mono", monospace;
*/

.header {
  margin-bottom: 0.5rem;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px rgb(241, 88, 88);
}

a {
  text-decoration: none;
}

.title {
  transition: 250ms all ease-in;
}

.title a {
  padding: 0.6rem;
  font-family: "Nunito", sans-serif;
  background-color: rgb(241, 88, 88);
  color: #fff;
  transition: all 250ms ease-in-out;
}

.title a:hover {
  transform: rotate(0deg);
}

.navDiv {
  width: 100%;
  max-width: 250px;
}

.navigation {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
}

.navigation a {
  color: rgb(241, 88, 88);
  font-size: 1.2rem;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  transition: all 300ms ease-in-out;
  letter-spacing: 0.1rem;
}

.navigation a:hover {
  color: rgb(219, 56, 56);
}
