@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Nunito&family=Roboto+Mono&display=swap");

:root {
  --main-font: "Nunito", sans-serif;
  --title-font: "Roboto Mono", monospace;
  --ease: cubic-bezier(0.23, 1, 0.32, 1);
  --main-red: rgb(250, 75, 75);
  --main-gray: rgb(63, 63, 63);
  --white: seashell;
  --peach: rgb(255, 235, 235);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 1500px;
  font-family: var(--main-font);
  transition: 250ms all ease-in;
}

#root {
  background-color: rgb(255, 235, 235);
}
