@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Nunito&family=Roboto+Mono&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f6f6f6;
}

.app {
  margin: 0;
  width: 100%;
}
